<div class="span12">
	<div id="spotify-play-button">
		<h1><%= @party.name %></h1>
		<iframe src="https://embed.spotify.com/?uri=spotify:trackset:<%="#{@party.name}:#{@party_tracks}"%>" frameborder="0" allowtransparency="true"></iframe>
	</div>
</div>

<div class="span6">
	<div class="well" id="spotify-playlist">
		<h3> Playist </h3>
		
		<div class="playlist">
			<table class='table table-striped'>
	        	<tbody>
		          <% @songs.each_with_index do |s,i| %>
		          	<tr>
		            	<td>
		              		<%= "#{i+1}" %>
			            </td>
			            <td>
			               	<%= s.name %>
			            </td>
			            	            	<td>
            	<%= pluralize s.reputation_value_for(:votes).to_i, "vote" %>
				<% if current_user && !current_user.voted_for?(s) %>
  					<%= link_to "up", vote_song_path(s, type: "up"), method: "post" %>
  					<%= link_to "down", vote_song_path(s, type: "down"), method: "post" %>
				<% end %>
				</td>
		          	</tr>
		          <% end %>
	        	</tbody>
	      	</table>
		</div>
	</div>
</div>